{% extends "base.html" %}

{% block styles %}
  <style>
    #msgContainer {
      max-height: 500px;
      overflow-y: scroll;
    }
  </style>
{% endblock %}

{% block content %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const form = document.querySelector('form');
      form.addEventListener('submit', function (event) {
        event.preventDefault();
        sendMessage();
      });

      async function sendMessage() {
        const form = createFormData();
        const date = getDate();

        try {
          placeholderMsg(date);
          const json = await sendBackendMessage(form);
          rmvPlaceholder();
          showNewMsg(json, date);
          messageField.value = '';
        } catch (e) {
          console.error('An error occurred', e);
        }
      }

      function createFormData() {
        const fd = new FormData();
        const token = '{{ csrf_token }}';
        fd.append('textmessage', messageField.value);
        fd.append('csrfmiddlewaretoken', token);
        return fd;
      }

      function placeholderMsg(date) {
        msgContainer.innerHTML += `
          <div id="deleteMessage" class="chat">
            <span class="text-gray">${date}</span> {{ request.user.first_name }}: <i class="text-gray">${messageField.value}</i>
          </div>
        `;
      }

      async function sendBackendMessage(fd) {
        const response = await fetch('/chat/', {
          body: fd,
          method: 'POST',
        });
        return await response.json();
      }

      function rmvPlaceholder() {
        const deleteMessage = document.getElementById('deleteMessage');
        if (deleteMessage) {
          console.log('Removing');
          deleteMessage.remove();
        }
      }

      function showNewMsg(parse, date) {
        msgContainer.innerHTML += `
          <div class="chat">
            <span class="text-gray">${date}</span> {{ request.user.first_name }}: <i>${parse.fields.text}</i>
          </div>
        `;
      }

      function getDate() {
        const currentDate = new Date();
        const monthNames = [
          'Jan.', 'Feb.', 'Mar.', 'Apr.', 'May', 'Jun.',
          'Jul.', 'Aug.', 'Sep.', 'Oct.', 'Nov.', 'Dec.',
        ];
        const month = monthNames[currentDate.getMonth()];
        const day = currentDate.getDate();
        const year = currentDate.getFullYear();
        return `[${month} ${day}, ${year}]`;
      }
    });
  </script>

  <div class="chat-box">
    {% if request.user.is_authenticated %}
      <div id="msgContainer">
        {% for message in messages %}
          <div class="chat">
            <span class="text-gray">[{{ message.created_at }}]</span> {{ message.author}}: <i>{{ message.text }}</i>
          </div>
        {% endfor %}
      </div>
      <form id="messageForm" method="post">
        {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input name="textmessage" class="mdl-textfield__input" type="text" id="messageField">
          <label class="mdl-textfield__label" for="messageField">Text...</label>
        </div>

        <!-- Accent-colored raised button with ripple -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          Send
        </button>
      </form>
    {% else %}
      <h1>Not Logged in</h1>
      <p>You are not logged in. Please log in to see the chat!</p><br>
      Please click <a href="/login/">here</a>
    {% endif %}
  </div>
{% endblock %}
